<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Material</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estoque/edit_estoque.css') }}">
    <script defer src="{{ url_for('static', filename='js/estoque/edit_estoque.js') }}"></script>
</head>
<body>
    <h1>Editar Material</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nome.label }}<br>
            {{ form.nome(size=20) }}<br>
            {{ form.errors.nome }}
        </p>
        <p>
            {{ form.categoria.label }}<br>
            {{ form.categoria(size=20) }}<br>
            {{ form.errors.categoria }}
        </p>
        <p>
            {{ form.quantidade.label }}<br>
            {{ form.quantidade(size=20) }}<br>
            {{ form.errors.quantidade }}
        </p>
        <p>
            {{ form.unidade_medida.label }}<br>
            {{ form.unidade_medida(size=20) }}<br>
            {{ form.errors.unidade_medida }}
        </p>
        <p>
            {{ form.data_compra.label }}<br>
            {{ form.data_compra(size=20) }}<br>
            {{ form.errors.data_compra }}
        </p>
        <p>
            {{ form.valor_unitario.label }}<br>
            {{ form.valor_unitario(size=20) }}<br>
            {{ form.errors.valor_unitario }}
        </p>
        <p>
            {{ form.fornecedor.label }}<br>
            {{ form.fornecedor(size=20) }}<br>
            {{ form.errors.fornecedor }}
        </p>
        <p>
            {{ form.data_validade.label }}<br>
            {{ form.data_validade(size=20) }}<br>
            {{ form.errors.data_validade }}
        </p>
        <p>
            {{ form.observacoes.label }}<br>
            {{ form.observacoes(cols=30, rows=5) }}<br>
            {{ form.errors.observacoes }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('estoque') }}">Voltar para Estoque</a>
</body>
</html>
