<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atendimentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/atendimentos/atendimentos.css') }}">
</head>
<body>
    <h1>Atendimentos</h1>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('configurar_procedimentos') }}">Configurar Procedimentos</a>
    <a href="{{ url_for('estoque') }}">Estoque</a>

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.data_atendimento.label }}<br>
            {{ form.data_atendimento(size=20, placeholder='dd/mm/aaaa', oninput='formatDate(this)') }}<br>
            {{ form.errors.data_atendimento }}
        </p>
        <p>
            {{ form.nome_paciente.label }}<br>
            {{ form.nome_paciente(size=20) }}<br>
            {{ form.errors.nome_paciente }}
        </p>
        <div id="procedures">
            <p>
                {{ form.procedimento1.label }}<br>
                {{ form.procedimento1() }}<br>
                {{ form.errors.procedimento1 }}
            </p>
        </div>
        <input type="hidden" name="procedureCount" id="procedureCount" value="1">
        <button type="button" onclick="addProcedure()">Adicionar</button>
        <button type="button" onclick="removeProcedure()">Remover</button>
        <p>
            {{ form.materiais.label }}<br>
            {{ form.materiais(size=20) }}<br>
            {{ form.errors.materiais }}
        </p>
        <p>
            {{ form.observacoes.label }}<br>
            {{ form.observacoes(cols=30, rows=5) }}<br>
            {{ form.errors.observacoes }}
        </p>
        <p>{{ form.submit() }}</p>
        <a href="{{ url_for('configurar_procedimentos') }}">
            <button type="button">Configurar Procedimentos</button>
        </a>
    </form>

    <h2>Lista de Atendimentos</h2>
    <table>
        <thead>
            <tr>
                <th class="date-column">Data</th>
                <th>Nome do Paciente</th>
                <th>Materiais Utilizados</th>
                <th>Observações</th>
                <th>Valor Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for atendimento in atendimentos %}
            <tr>
                <td>{{ atendimento.data_atendimento }}</td>
                <td>{{ atendimento.nome_paciente }}</td>
                <td>{{ atendimento.materiais }}</td>
                <td>{{ atendimento.observacoes }}</td>
                <td>R$ {{ atendimento.valor_total | round(2) }}</td>
                <td>
                    <div class="procedure-actions">
                        <form action="{{ url_for('edit_atendimento', id=atendimento.id) }}" method="GET" style="display:inline;">
                            <button type="submit">Editar</button>
                        </form>
                        <form action="{{ url_for('delete_atendimento', id=atendimento.id) }}" method="POST" style="display:inline;">
                            <button type="submit">Remover</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Somatório Mensal</h2>
    <table>
        <thead>
            <tr>
                <th>Mês</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            {% for mes, valor_total in somatorio_mensal.items() %}
            <tr>
                <td>{{ mes.split('/')[1] }}/{{ mes.split('/')[0] }}</td>
                <td>R$ {{ valor_total | round(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{ url_for('static', filename='js/atendimentos/atendimentos.js') }}"></script>
</body>
</html>
