<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Atendimento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atendimentos/edit_atendimento.css') }}">
    <script defer src="{{ url_for('static', filename='js/atendimentos/edit_atendimento.js') }}"></script>
</head>
<body>
    <h1>Editar Atendimento</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.data_atendimento.label }}<br>
            {{ form.data_atendimento(size=20, placeholder='dd/mm/aaaa', oninput='formatDate(this)') }}<br>
            {{ form.errors.data_atendimento }}
        </p>
        <p>
            {{ form.nome_paciente.label }}<br>
            {{ form.nome_paciente(size=20) }}<br>
            {{ form.errors.nome_paciente }}
        </p>
        <div id="procedures">
            {% for i in range(1, procedure_count + 1) %}
            <p id="procedure{{ i }}">
                <label for="procedimento{{ i }}">Procedimento {{ i }}</label><br>
                <select name="procedimento{{ i }}" id="procedimento{{ i }}">
                    {% for proc in form.procedimento1.choices %}
                    <option value="{{ proc[0] }}" {% if form.procedimentos.data and proc[0] in form.procedimentos.data.split(', ') %}selected{% endif %}>{{ proc[1] }}</option>
                    {% endfor %}
                </select>
            </p>
            {% endfor %}
        </div>
        <input type="hidden" name="procedureCount" id="procedureCount" value="{{ procedure_count }}">
        <div id="procedureOptions" style="display: none;">
            {% for proc in form.procedimento1.choices %}
            <option value="{{ proc[0] }}">{{ proc[1] }}</option>
            {% endfor %}
        </div>
        <button type="button" onclick="addProcedure()">Adicionar</button>
        <button type="button" onclick="removeProcedure()">Remover</button>
        <p>
            {{ form.materiais.label }}<br>
            {{ form.materiais(size=20) }}<br>
            {{ form.errors.materiais }}
        </p>
        <p>
            {{ form.observacoes.label }}<br>
            {{ form.observacoes(cols=30, rows=5) }}<br>
            {{ form.errors.observacoes }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
